/**
 * https://www.sandorzolt.hu
 */

/**
 * defaults
 */
html {
    scroll-behavior: smooth;
}




img {
    display: inline-block;
    max-width: 100%;
    heigh: auto;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
    shape-margin: 1rem;
    font-style: italic;
}




@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior:auto
    }

    *, :after, :before {
        -webkit-animation-duration: .01ms !important;
        animation-duration: .01ms !important;
        -webkit-animation-iteration-count: 1 !important;
        animation-iteration-count: 1 !important;
        transition-duration: .01ms !important;
        scroll-behavior:auto !important
    }
}


